.form, label {
    display: flex;
    flex-direction: column;
    margin: 5px;
    text-transform: capitalize;
}

.form__button {
    width: 115px;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: .9px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-color: green;
    transition: all .3s;
}

.form__button:hover {
    background-color: #d9dbbc;
}

input {
  margin: 10px 0;
}
